<!-- Footer -->
 <div class="footer">
 	<div class="container">
  	<div class="row">
 		<div class="col-md-8">
 			<div class="row">
				<div class="col-footer col-md-4 col-sm-6">
	  			<h3>Biro Hukum</h3>
		  			<ul class="no-list-style footer-navigate-section">
		  				<li><a href="{{url:site}}profil/visi-misi">Visi Misi</a></li>
						<li><a href="{{url:site}}profil/struktur-organisasi">Struktur Organisasi</a></li>
						<li><a href="{{url:site}}profil/tupoksi">Tugas Pokok & Fungsi</a></li>
						<li><a href="{{url:site}}profil/rencana-strategis">Rencana Strategis</a></li>
		  			</ul>
				</div>
				
		  		<div class="col-footer col-md-4 col-sm-6">
		  			<h3>Himpunan Peraturan</h3>
		  			<ul class="no-list-style footer-navigate-section">
		  				<li><a href="{{url:site}}himpunan_perundangan">Himpunan Perundangan</a></li>
						<li><a href="{{url:site}}produkhukum">Produk Hukum</a></li>
		  			</ul>
		  		</div>
		  		
		  		<div class="col-footer col-md-4 col-sm-6">
		  			<h3>Direktori Hukum</h3>
		  			<ul class="no-list-style footer-navigate-section">
		  				<li><a href="{{url:site}}direktori-hukum/tata-cara-penyusunan-peraturan-daerah">Tata Cara Penyusunan Peraturan Daerah</a></li>
						<li><a href="{{url:site}}direktori-hukum/penyusunan-instruksi-peraturan-gubernur">Penyusunan Instruksi Peraturan Gubernur</a></li>
		  			</ul>
		  		</div>
		  	</div>
		</div>
		<div class="col-md-4 col-sm-6">
			{{ theme:image file='logo-bottom.png' class='bottom-logo' }}
			<p class="address">Jalan medan merdeka selatan 8-9 Blok G lantai 9<br/>
			Telp. 021-3822114 / 3822115</p>
			
		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12">
  			<div class="footer-copyright">&copy; 2015 Biro Hukum. Hak dilindungi Undang-undang.</div>
  		</div>
  	</div>
  </div>
 </div>
<!-- End footer -->
	    
<div class="modal fade" id="searchDialog" role="dialog" tabindex="-1" role="dialog" aria-labelledby="mySearchDialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon-close"></span></button>
				<h4 class="modal-title" id="searchDialogLabel">Search result for</h4>
			</div>
			<div class="modal-body" id="searchDialogBody">
				<h3>Search result</h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Begin scripts -->
<!-- Javascripts -->
{{ theme:js file="leaflet.js" }}   
{{ theme:js file="jquery.fitvids.js" }}
{{ theme:js file="jquery.sequence-min.js" }}
{{ theme:js file="jquery.bxslider.js" }}
{{ theme:js file="main-menu.js" }}
{{ theme:js file="template.js" }}
<!-- End scripts -->
