<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


<!-- Navigation & Logo-->
 <div class="mainmenu-wrapper">
  <div class="container">
  	<div class="row">
  		<div class="col-md-9">
    	<div class="logo-bh">
    		<a href="{{ url:site uri='/' }}">{{ theme:image file='logo_bpdh.png' }}</a>
    	</div>
    </div>
    <div class="col-md-3">
    	<div class="menuextras">
<div class="extras">
	<ul>
		<li role="menuitem"><a href="#"><i class="icon-facebook" style="color:navy"></i></a></li>
			<li role="menuitem"><a href="#"><i class="icon-twitter"></i></a></li>
			<li role="menuitem"><a href="#"><i class="icon-google-plus"></i></a></li>
       	</ul>
	</div>
     	</div>
		<div class="search">
			<input id="srch-term" class="form-control search-input pull-left" type="text" placeholder="Search" name="srch-term">
			<a type="submit" style="position:absolute;top:7px;right:15px;cursor:pointer" data-toggle="modal" data-target="#searchDialog">
			<i class="glyphicon glyphicon-search glyphicon-rotate-180"></i>
			</a>
		</div>
     </div>
    </div>
		
	</div>
</div>
	
  	{{ theme:partial name="topnav" }}