<div id="home-top">
	{{ widgets:area slug="home-top" }}
</div>

<div id="full-content">
	
	<div id="home-middle">
		<div id="home-middle-left">
			{{ widgets:area slug="home-middle-left" }}
						
			<div class="col-left">
				{{ widgets:area slug="home-middle-left-column-left" }}
			</div>
			
			<div class="col-right">
				{{ widgets:area slug="home-middle-left-column-right" }}
			</div>
			
			<div class="clearfix"></div>
			
			{{ widgets:area slug="home-middle-left-bottom" }}
			
		</div>
		<div id="home-middle-right">
			{{ widgets:area slug="home-middle-right" }}
		</div>
	</div>
	<div id="home-bottom">
		{{ widgets:area slug="home-bottom" }}
	</div>
</div>